<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title th:text="#{title.register}">Register</title>
</head>
<body>

<div th:if="${error}" class="form-group row text-center" role="alert">
    <label class="col-md-4 col-form-label text-md-right"></label>
    <div th:text="#{reg.error}" class="col-md-6 alert alert-danger ">The email address is already exists</div>
</div>

<main>
    <div class="container" style="margin-top:50px">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div th:text="#{nav.register}" class="card-header">Register</div>
                    <div class="card-body">
                        <form th:action="@{/registration}" th:object="${user}" method="post" enctype="utf8" >
                            <div class="form-group row" >
                                <label class="col-sm-1" th:text="#{label.user.Name}">name</label>
                                <span class="col-sm-6"><input class="form-control" name="name" value="" required="required"/></span>
                                <!--<span id="NameError" class="alert alert-danger col-sm-4" style="display:none"></span>-->
                                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1" th:text="#{label.user.NameUkr}">nameUkr</label>
                                <span class="col-sm-6"><input class="form-control" name="nameInUkrainianLanguage" value="" required="required"/></span>
                                <!--<span id="NameInUkrainianLanguageError" class="alert alert-danger col-sm-4" style="display:none"></span>-->
                                <span class="text-danger" th:if="${#fields.hasErrors('nameInUkrainianLanguage')}" th:errors="*{nameInUkrainianLanguage}"></span>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1" th:text="Email">email</label>
                                <span class="col-sm-6"><input class="form-control" type="email" name="email" value="" required="required"/></span>
                                <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
                                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1" th:text="#{label.user.password}">password</label>
                                <span class="col-sm-6"><input class="form-control" id="password"  name="password" value="" type="password" required="required"/></span>
                                <!--<span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>-->
                                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1" th:text="#{label.user.confirmPass}">confirm</label>
                                <span class="col-sm-6"><input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" required="required"/></span>
                                <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                            </div>

                            <br/>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <button type="submit" class="btn btn-primary"  th:text="#{label.form.submit}" >submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
</body>
</html>