[submodule "src"]
	path = src
	url = C:\\Users\\NITRO\\IdeaProjects\\TRAINING\\GIThub\\src
[submodule "Task2(GameGuessNumber)/src"]
	path = Task2(GameGuessNumber)/src
	url = C:\\Users\\NITRO\\IdeaProjects\\TRAINING\\GIThub\\Task2(GameGuessNumber)\\src
