<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar nav-pills navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a href="/merchandiser" class="mx-3" th:text="#{button.main}">Logo</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/merchandiser/new_product" th:text="#{merchandiser.new.product}">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/merchandiser/all_products" th:text="#{merchandiser.all.product}">Link</a>
        </li>
    </ul>
    <form class="form-inline">
        <h5 class="form-inline text-light">
            <td th:if="#{lang }== '??lang_en??'"th:text="${logo_name}"></td>
            <td th:unless="#{lang }== '??lang_en??'" th:text="${logo_nameUkr}"></td>
        </h5>
        <div id="locale" class="mx-3">
            <a href="?lang=en">EN</a>
            |
            <a href="?lang=ua">UA</a>
        </div>
    </form>
    <form th:action="@{/logout}" method="post">
        <input role="button" class="btn btn-primary btn-sm" type="submit" th:value="#{button.logout}"/>
    </form>
</nav>

</body>
</html>